@import  "//fonts.googleapis.com/css?family=Montserrat";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  font-family: "Montserrat",sans-serif;
  line-height: 1.42857;
  font-size: 17px;
  background-color: rgba(0,0,0,1);
  color: #FFF;
  word-wrap: normal;
}

a,a:visited,a:active,a:hover {
  color: #FFF;
  text-decoration: underline;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.text2-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
.bg-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
  background-image: url(/res/background.jpg);
  background-attachment: scroll;
  background-position: 50% 10%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .69;
}

h1 {
  font-size: 40px;
}

div.horizontal {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

div.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.imagecenter {
  position: absolute;    
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
